@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'GraphikLCG';
    src: url('./../fonts/GraphikLCG/GraphikLCG-Regular.ttf') format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('./../fonts/GraphikLCG/GraphikLCG-Semibold.ttf') format("truetype");
    font-weight: 600;
    font-display: swap;
}